{% load static %}
<!DOCTYPE html>




<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel = "stylesheet" href = "{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}" >
</head>用户列表hhhh
<body>
    <h1>用户列表</h1>


    <input type="text"  class = "btn-primary" value="新建列表"/>

    <script src = "{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>

    <img src="{% static 'img/001.jpg' %}" alt = "">
    <img src = "/static/img/001.jpg" alt="">


</body>
</html>